<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container" toggleMenu="navbarNav">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">Travel Book</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="bold-font" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" routerLink="/">Welcome</a>
        </li>
        <li class="nav-item" routerLinkActive="bold-font" *ngIf="isAuthenticated">
          <a class="nav-link" routerLink="/create">New Travel</a>
        </li>
        <li class="nav-item" routerLinkActive="bold-font" *ngIf="isAuthenticated">
          <a class="nav-link" routerLink="/travellist">Travel List</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="isAuthenticated">
          <a class="nav-link" style="cursor: pointer" (click)="onLogout()">Log out</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item dropdown" toggleMenu="manage-button-dropdown-men">
          <a class="nav-link dropdown-toggle"
             *ngIf="isAuthenticated"
             id="navbarDropdown"
             role="button"
             aria-haspopup="true"
             aria-expanded="false">
             Manage
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="manage-button-dropdown-menu">
            <li><a class="dropdown-item" (click)="fetchTravelHistories()">Fetch Data</a></li>
            <li><a class="dropdown-item" (click)="saveTravelHistories()">Save Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>