<h3>
  {{isEditMode ? 'Editing' : 'Creating'}} travel item
</h3>

<div class="container">
  <div class="row">
    <div class="col-12">
      <form *ngIf="isTddDriven" #f="ngForm" (ngSubmit)="onSubmitForm()" class="md-auto md-offset-3">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" id="title" class="form-control" ngModel name="title" required>
        </div>
        <div class="form-row">
          <div class="col-12 col-md-6">
            <label for="fromDate">From (mm/dd/yyyy)</label>
            <input type="date" id="fromDate" class="form-control" ngModel name="fromDate" required>
          </div>
          <div class="col-12 col-md-6">
            <label for="toDate">To (mm/dd/yyyy)</label>
            <input type="date" id="toDate" class="form-control" ngModel name="toDate" required>
          </div>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea id="description" cols="30" rows="10" class="form-control" ngModel name="description"></textarea>
        </div>
        <div class="form-group">
          <label for="imageUrl">Image Url</label>
          <input type="url" id="imageUrl" class="form-control" ngModel name="imageUrl">
        </div>
        <button class="btn btn-success" type="submit"
          [disabled]="!f.valid">{{this.isEditMode ? 'Update' : 'Add'}}</button>
        <button class="btn btn-warning" type="button" (click)="onFormClear()">Clear</button>
      </form>

      <form *ngIf="!isTddDriven" [formGroup]="travelFormGroup">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" id="title" class="form-control" formControlName="title" name="title">
        </div>
        <div class="form-row" 
            *ngIf="travelFormGroup?.controls?.title?.errors?.invalidTitle">
          <div class="col-12 alert alert-danger" style="margin-top: 5px">
            {{travelFormGroup.controls.title.errors['invalidTitle']}}
          </div>
        </div>
        <div class="form-row">
          <div class="col-12 col-md-6">
            <label for="fromDate">From (mm/dd/yyyy)</label>
            <input type="date" id="fromDate" class="form-control" formControlName="fromDate" name="fromDate">
          </div>
          <div class="col-12 col-md-6">
            <label for="toDate">To (mm/dd/yyyy)</label>
            <input type="date" id="toDate" class="form-control" formControlName="toDate" name="toDate">
          </div>
        </div>
        <div class="form-row" *ngIf="travelFormGroup.invalid && travelFormGroup.errors && travelFormGroup.errors['fromToDateRangeError']">
          <div class="col-12 alert alert-danger" style="margin-top: 5px">
            {{travelFormGroup.errors['fromToDateRangeError']}}
          </div>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea id="description" cols="30" rows="10" class="form-control" formControlName="description"
            name="description"></textarea>
        </div>
        <div class="form-group">
          <div formArrayName="imageUrls">
            <label>Image Urls</label>
            <div class="row" *ngFor="let urlControl of getControls();let i=index" style="margin-bottom:5px">
              <div class="col-10">
                  <input type="text" class="form-control" [formControlName]="i">
              </div>
              <div class="col-2">
                <Button class="btn btn-danger" type="button" (click)="onDeleteImageUrl(i)">X</Button>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <button class="btn btn-primary" type="button" (click)="onAddImageUrl()">Add new image URL</button>
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-success" type="submit" [disabled]="!travelFormGroup.valid" (click)="onSubmitForm()" style="margin-right: 10px">
          {{this.isEditMode ? 'Update' : 'Add'}}
        </button>
        <button class="btn btn-warning" type="button" (click)="onFormClear()">
          Clear
        </button>
      </form>
    </div>
  </div>
</div>