<div class="container">
  <h2>Welcome to travel book</h2>
  <div class="row">
    <form class="col-6">
      <span>Create a new account to save your travel history</span>
      <div class="form-group">
        <label for="signUpemail">Email</label>
        <input id="signUpemail" type="email" class="form-control">
      </div>
      <div class="form-group">
        <label for="signUppassword">Password</label>
        <input id="signUppassword" type="password" class="form-control">
      </div>
      <button type="button" class="btn btn-primary" (click)="onSignupClick()">Sign in</button>
    </form>
    <form class="col-6" action="">
        <span>Already a user? Sign in here</span>
        <div class="form-group">
          <label for="signInemail">Email</label>
          <input id="signInemail" type="email" class="form-control">
        </div>
        <div class="form-group">
          <label for="signInpassword">Password</label>
          <input id="signInpassword" type="password" class="form-control">
        </div>
        <button type="button" class="btn btn-primary" (click)="onSigninClick()">Sign up</button>
      </form>
  </div>
</div>