<div class="container">
  <div class="row justify-content-center">
    <h2>Welcome to travel book</h2>
  </div>
  <div class="row justify-content-center">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" id="signIn" name="logInOptions" value="signup" (click)="selectLogInOptoin($event)" >
      <label class="form-check-label" for="signIn">Sign Up (new user)</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" id="signIn" name="logInOptions" value="signin" (click)="selectLogInOptoin($event)">
      <label class="form-check-label" for="signIn">Sign In (existing user)</label>
    </div>
  </div>
  <hr>
  <div class="row justify-content-center">
    <div class="col-6 col-offset-3" *ngIf="!isUserSignedIn">
      <router-outlet></router-outlet>
    </div>
    <div *ngIf="isUserSignedIn" class="alert alert-success">
      You are signed in
    </div>
  </div>
</div>

{{loginOption}}